html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #302E2B;
    margin: 0;
    padding: 2vh;
}

#captured-white, #captured-black {
    display: flex;
    gap: 0.5vw;
    padding: 1vh;
    width: 90%;
    justify-content: center;
    min-height: 5vh;
    background: rgba(209, 148, 148, 0.1);
    border-radius: 0.5vw;
    height: 2vh;
}

.captured-piece-image {
    width: 3vw;
    height: 3vw;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

#victory-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    max-width: 300px;
    padding: 2vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    font-family: monospace;
}

#captured-pieces {
    display: none !important;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
}

#captured-pieces img {
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
    filter: drop-shadow(0px 0px 0.5vw rgba(255, 255, 255, 0.5));
}

#restart-button {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1vh 2vw;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1.5vh;
    border-radius: 0.5vw;
    z-index: 100;
}

#restart-button:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    #victory-message {
        width: 80%;
        font-size: 1.5rem;
    }

    .captured-piece-image,
    #captured-pieces img {
        width: 7vw;
        height: 7vw;
    }

    #restart-button {
        font-size: 1.2rem;
        padding: 1vh 3vw;
    }
}
